<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Front page</title>
    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'web/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/articles.css' %}">
    </head>
    <body>
        <header class="header">
            <section class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="contact">
                                <p><span class="phone"><a href="tel:+256 706 131310">Phone: +256 706 131310</a></span><span class="email"><a href="mailto:savethelittleoneuganda@gmail.com">Email: savethelittleoneuganda@gmail.com</a></span></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="join-us">
                                <p><a href="/contact">JOIN US NOW</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <a href="#">
                                <div class="main-logo">
                                    <img src="{% static 'web/img/main-logo.png' %}" alt="">
                                    <h2><a href="/">Savethelittle one ug</a></h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/">HOME</a></li>
                                    <li><a href="/articles">ARTICLES</a></li>
                                    <li><a href="/about">ABOUT US</a></li>
                                    <li><a href="/contact">CONTACT US</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
            <h1>Recent Updates</h1>
          <!-- articles -->
          {% if articles %}
          {% for article in articles %}
            <article class="card">
                <a href="{% url 'web:detail' article.id %}">
                    <div class="card__wrapper">
                
                        <figure class="card__feature">
                            <img src="{{ article.picture_1.url }}" class="card__img" alt="waves" width="275" height="240">
                        </figure>
                    
                        <div class="card__box">
                    
                            <header class="card__item card__header">
                                <h6 class="card__item card__item--small card__label">Featured</h6>
                                <h2 class="card__item card__item--small card__title">{{ article.article_title }}</h2>
                            </header>
                    
                            <hr class="card__item card__divider">
                    
                            <section class="card__item card__body">
                                <p>{{ article.article_subtitle }}</p>
                            </section>
                    
                        </div>
                
                    </div>
                </a>
            </article>
            {% endfor %}
            {% else %}
            <h3>No articles yet! </h3>
            {% endif %}

        </div>
        <script src="{% static 'web/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'web/js/animationCounter.js' %}"></script>
        <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'web/js/active.js' %}"></script>
    </body>
    <footer>
        <div class="footer-content">
            <h3>Charity Web App</h3>
            <p>we help disabled and oprhan people to develop their skills and also live a promising life like others. </p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
             </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 <a href="tel: +256 775 555 464">AndySolutions</a>  </p>
            <div class="footer-menu">
                <ul class="f-menu">
                   <li><a href="">Home</a></li>
                   <li><a href="">Articles</a></li>
                   <li><a href="">About Us</a></li>
                   <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        
    </footer>
</html>