/*  basic utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   
   
   }

h1 {
    text-align: center;
    margin-top: 50px;
}

.card {
    width: 275px;
  
    font-family: 'Playfair Display', serif;
    text-align: center;
  
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  
  /* Elements */
  .card__wrapper {
    padding-top: .1px;
    padding-bottom: .1px;
    position: relative;
  
    background-color: #ffffff;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
  }
  .card__wrapper:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px;
    bottom: 0;
    left: 15px;
  
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  .card__box {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .card__item  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card__item--small  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card__feature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .card__img {
    display: block;
    max-width: 100%;
    height: 240px;
    width: 275px;
  }
  .card__header {
    position: relative;
    z-index: 1;
  }
  .card__title {
    color: #222222;
  
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
  }
  .card__label {
    color: #cccccc;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .card__divider {
    display: block;
    width: 100%;
    height: 15px;
  
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card__body {
    font-size: 12px;
    line-height: 1.75;
  }
  
  /* Modifiers */
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .card:hover .card__wrapper {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  }
  .card:hover .card__wrapper:after {
    transform: scale(0.95) translateY(10px);
  }
  
  /* Demo */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e9ebea;
    text-align: center;
  }
  .card {
    display: inline-block;
    margin-top: calc( ( 100vh - 506px ) / 2 );
    margin-right: 15px;
    margin-left: 15px;
    top: 50%;
  }

  /* footer content */

  footer {
    
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;    
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }

@media (max-width: 650px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}